@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #4f504f;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.header{
  align-items: center;
  align-self:center;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 10px 5% 0 5%;
  margin-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.options{
  display: flex;
  justify-content: space-between;
  gap:1.5rem;
}

/* .options li{
  
  align-self: center;
} */
.options .button{
  padding: 4px;
  border: 1.3px #49c059 solid;
  border-radius: 10%;
  font-size: large;
  font-weight: 500;
  color: #49c059;
}
